@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* cards, nav, img */

@media screen and (max-width: 992px) {
    .card {
        width: 100%;
    }

    .nav-link {
        width: 100%;
    }

    #header {
        font-size: 2em !important;
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

html, body {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    height: 100%;
}

a {
    text-decoration: none !important;
    color: black !important;
}

#header {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
}

#headerimg {
    width: 300px;
    height: 300px;
    margin-top: 12%;
}

#name {
    font-size: 2em;
    font-weight: bold;
}

.nav-link {
    font-size: 1.5em;
}

#title {
    font-size: 1.5em;
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
}

#biography {
 font-size: 1.5em;   
}

#footer-container {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
}

i {
    margin-left: 2%;
    font-size: 1.5em;
    color: white;
}

.bi-list {
    color:rgba(0, 0, 0, 0.5);
}

.bodyContainer > div#insta, .bodyContainer > div#prices {
    display: none;
}

.card-text {
    font-size: 1.25em;
}

.card {
    margin-top: 1%;
    margin-bottom: 1%;
}

div#prices > .btn {
    margin-top: 1%;
    font-size: 1.5em;
}